.square {
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  border: unset;
  border-radius: unset;
  padding: unset;
  background-color: unset;
}

.square:disabled {
  cursor: default;
}